.vot-inline-loader {
  height: 8px;
  aspect-ratio: 5;
  --vot-loader-bg: no-repeat
    radial-gradient(
      farthest-side,
      rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38) 94%,
      transparent
    );
  background: var(--vot-loader-bg), var(--vot-loader-bg), var(--vot-loader-bg),
    var(--vot-loader-bg);
  background-size: 20% 100%;
  animation:
    dotsSlide 0.75s infinite alternate,
    dotsFlip 1.5s infinite alternate;
}

@keyframes dotsSlide {
  0%,
  10% {
    background-position:
      0 0,
      0 0,
      0 0,
      0 0;
  }
  33% {
    background-position:
      0 0,
      calc(100% / 3) 0,
      calc(100% / 3) 0,
      calc(100% / 3) 0;
  }
  66% {
    background-position:
      0 0,
      calc(100% / 3) 0,
      calc(2 * 100% / 3) 0,
      calc(2 * 100% / 3) 0;
  }
  90%,
  100% {
    background-position:
      0 0,
      calc(100% / 3) 0,
      calc(2 * 100% / 3) 0,
      100% 0;
  }
}

@keyframes dotsFlip {
  0%,
  49.99% {
    transform: scale(1);
  }
  50%,
  100% {
    transform: scale(-1);
  }
}
