.vot-select {
  --vot-helper-theme-rgb: var(--vot-onsurface-rgb, 0, 0, 0) !important;
  --vot-helper-theme: rgba(var(--vot-helper-theme-rgb), 0.87) !important;
  --vot-helper-safari1: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.6) !important;
  --vot-helper-safari2: rgba(
    var(--vot-onsurface-rgb, 0, 0, 0),
    0.87
  ) !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(
    --vot-font-family,
    "Roboto",
    "Segoe UI",
    system-ui,
    sans-serif
  );
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-align: start;

  color: var(--vot-helper-theme);
  fill: var(--vot-helper-theme);

  &[hidden] {
    display: none !important;
  }

  &-label {
    font-size: 16px;
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 4px;

    .vot-select-label-icon {
      height: 20px;
      width: 20px;
      margin-top: 2px;
      > svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120px;
    width: 120px;
    padding: 0 5px !important;
    border: 1px solid var(--vot-helper-safari1) !important;
    border-radius: 4px !important;
    cursor: pointer;
    transition: border 0.2s !important;
    &:hover {
      border-color: var(--vot-helper-safari2) !important;
    }
  }

  &-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: inherit;
  }

  &-arrow-icon {
    width: 20px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      fill: inherit;
      stroke: inherit;
    }
  }

  &-content-list {
    display: flex;
    flex-direction: column;

    .vot-select-content-item {
      padding: 5px 10px !important;
      border-radius: 8px !important;
      cursor: pointer;
      &:not([inert]):hover {
        background-color: rgb(42, 44, 49);
      }
      &[data-vot-selected="true"] {
        color: rgb(var(--vot-primary-rgb, 33, 150, 243));
        background-color: rgba(var(--vot-primary-rgb, 33, 150, 243), 0.2);
        &:hover {
          background-color: rgba(
            var(--vot-primary-rgb, 33, 150, 243),
            0.1
          ) !important;
        }
      }
      &[inert] {
        cursor: default;
        color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38);
      }
      &[hidden] {
        display: none !important;
      }
    }
  }
}
