@use "components/buttons/contained.scss";
@use "components/buttons/outlined.scss";
@use "components/buttons/text.scss";
@use "components/buttons/icon.scss";

@use "components/textfield.scss";
@use "components/checkbox.scss";
@use "components/slider.scss";
@use "components/select.scss";
@use "components/header.scss";
@use "components/info.scss";
@use "components/details.scss";

@use "components/lang-select.scss";
@use "components/segmented-button.scss";
@use "components/menu.scss";
@use "components/dialog.scss";
@use "subtitles.scss";

:root {
  --vot-font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui,
    -apple-system;

  --vot-primary-rgb: 139, 180, 245;
  --vot-onprimary-rgb: 32, 33, 36;
  --vot-surface-rgb: 32, 33, 36;
  --vot-onsurface-rgb: 227, 227, 227;

  --vot-subtitles-color: rgb(var(--vot-onsurface-rgb, 227, 227, 227));
  --vot-subtitles-passed-color: rgb(var(--vot-primary-rgb, 33, 150, 243));
}

vot-block {
  display: block;
  // for reddit
  visibility: visible !important;
}
