.vot-subtitles {
  &-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    max-height: 100%;
    min-height: 20%;
    z-index: 2147483647;
    left: 25%;
    top: 75%;
    pointer-events: none;
  }

  & {
    --vot-subtitles-background: rgba(
      var(--vot-surface-rgb, 46, 47, 52),
      var(--vot-subtitles-opacity, 0.8)
    );
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: max-content;
    background: var(--vot-subtitles-background, rgba(46, 47, 52, 0.8));
    color: var(--vot-subtitles-color, rgb(227, 227, 227));
    border-radius: 0.5em;
    pointer-events: all;
    padding: 0.5em;
    font-size: 20px;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  & span {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    font-size: inherit !important;
    line-height: normal !important;
  }

  & .passed {
    color: var(--vot-subtitles-passed-color, rgb(33, 150, 243));
  }
}
